In [15]:
import pandas as pd
import numpy as np

In [4]:
fruits_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [17]:
fruits = pd.Series(fruits_list)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Determine the number of elements in fruits.

In [9]:
num_elements = len(fruits)
num_elements

17

Output only the index from fruits.

In [10]:
index_only = fruits.index
index_only

RangeIndex(start=0, stop=17, step=1)

Output only the values from fruits.

In [12]:
# value attribute represent the actual data contained in series
values_only = fruits.values
values_only

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

Confirm the data type of the values in fruits.

In [16]:
data_type = np.array(fruits_list)
pd.Series(data_type)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [19]:
first_five_values = fruits.head(5)
first_five_values

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [20]:
# Output the last three values from fruits
last_three_values = fruits.tail(3)
last_three_values

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [21]:
#random values
random_values = fruits.sample(2)
random_values

11     kiwi
12    mango
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [23]:
fruit_description = fruits.describe()
fruit_description

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [24]:
fruits_unique = fruits.unique()
fruits_unique

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

Determine how many times each unique string value occurs in fruits.

In [25]:
unique_counts = fruits.value_counts()
unique_counts

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [27]:
most_frequent_fruit = value_counts.index[0]
most_frequent_fruit

'kiwi'

Determine the string value that occurs least frequently in fruits.

In [28]:
least_occured_fruit = value_counts.index[-1]
least_occured_fruit

'papaya'